<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <form class="" action="/authorized" method="post">


    <input type="text" name="userName" value="Username">
    <input type="password" name="password" value="">
    <button type="submit" name="Log-in">Log In</button>
  </form>
</body>

</html>
